<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <h2>Users Roles</h2>
        <button routerLink="add">Add</button>
        <button routerLink="sdfasdfadd">Not Found</button>
        <div class="row">
            <ul *ngIf="page.totalPages > 0" class="list" >
                <li *ngFor="let role of page.content"
                    [class.selected]="role === selectedRole"
                    routerLink="{{role.id}}">
                    {{role.name}}
                </li>
            </ul>
            <p *ngIf="page.totalPages == 0">No items</p>

        </div>
    </div>
</div>
