<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <button routerLink="/">Home</button>
                <button routerLink="add">Add</button>
            </div>

            <h2>Users Roles</h2>
            <ul class="list">
                <li *ngFor="let role of roles"
                    [class.selected]="role === selectedRole"
                    (click)="onSelect(role)">
                    <span class="badge">{{role.id}}</span> {{role.name}}
                </li>
            </ul>

        </div>
    </div>
</div>
