/logs
/project/project
/project/target
/target
/tmp
.history
dist
/.idea
/*.iml
/*.ipr
/*.iws
.vscode/
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.gradle
/build
/gradle
/gradlew*

src/main/resources/static/

node/
node_modules/
npm-debug.log
package-lock.json